body {
    background-image: url("../img/bg/dust_scratches.png");
}

/*------------------- THIS IS FOR THE HEADER  ------------------*/
#header_container {
    background: #6d6d6d;
    height: 100px;
}

#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
/*---------------------------------------------------------------*/

/*------------------- THIS IS FOR THE NAVIGATION BAR  ------------------*/
#nav_bar {
    background-color: #6d6d6d;
    text-align: center;
}

.nav_btn_ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nav_btn_li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 19px;
}

.nav_btn_li:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
/*---------------------------------------------------------------*/

/*------------------- THIS IS FOR THE FOOTER  ------------------*/
#footer_container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: #6d6d6d;
    text-align: center;
}
#footer_container p {
    color: black;
}
/*---------------------------------------------------------------*/

/*------------------- THIS IS FOR THE LEFT CONTAINER  ------------------*/
#left_bar {
    position: absolute;
    left: 0;
    bottom: 55px;
    top: 185px;
    overflow-y: auto;
    border: 1px solid black;
    margin-left: 8px;
    margin-top: 5px;
    width: 205px;
    background-image: url("../img/bg/hip-square.png");
}

#userlist {
    list-style: none;
    margin: 0;
    padding: 7px 0 0 20px; /*top, right, bottom, left*/
}

#userlist b {
    font-size: 20px;
}

#userlist li {
    padding: 2px;
    font-size: 20px;
}

#userlist li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#left_bar_btn {
    background-image: url("../img/btns/close_left.png");
    width: 40px;
    height: 40px;
    position: absolute;
    right: 3px;
    top: 3px;
}
#left_bar_btn:hover {
    cursor: pointer;
    background-image: url("../img/btns/close_left_hover.png");
}
/*---------------------------------------------------------------*/

/*------------------- THIS IS FOR THE RIGHT CONTAINER  ------------------*/
#right_bar {
    position: absolute;
    right: 0;
    bottom: 55px;
    top: 185px;
    overflow-y: auto;
    border: 1px solid black;
    margin-right: 8px;
    margin-top: 5px;
    width: 205px;
    background-image: url("../img/bg/hip-square.png");
}

#playinglist {
    list-style: none;
    margin: 0;
    padding: 7px 0 0 20px; /*top, right, bottom, left*/
}
#playinglist b {
    font-size: 20px;
    margin-left: 26px;
}
#playinglist li {
    margin-top: 10px;
    padding: 2px;
    font-size: 20px;
 }

#right_bar_btn {
    background-image: url("../img/btns/close_left.png");
    transform:scaleX(-1);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 3px;
    top: 3px;
}
#right_bar_btn:hover {
    cursor: pointer;
    background-image: url("../img/btns/close_left_hover.png");
    transform:scaleX(-1);
}
/*---------------------------------------------------------------*/

#middle_section {
    border: 1px solid black;
    position: absolute;
    right: 218px;
    left: 218px;
    top: 191px;
    bottom: 55px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*---------------------------------------------------------------*/

/*------------------- THIS IS FOR THE HOME TAB  ------------------*/
#chat_container {
    position: absolute;
    top: 4px;
    right: 4px;
    left: 4px;
    bottom: 55px;
    -webkit-box-shadow: inset 0px 0px 8px 4px rgba(186,186,186,1);
    -moz-box-shadow: inset 0px 0px 8px 4px rgba(186,186,186,1);
    box-shadow: inset 0px 0px 8px 4px rgba(186,186,186,1);
}
#message_container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
}
.message {
    font-family: Arial, sans-serif;
}
#message_input_container {
    position: absolute;
    bottom: 5px;
    right: 4px;
    left: 4px;
}
#message_input {
    float: left;
    height: 38px;
    width: 90%;
}
#message_btn {
    float: right;
    height: 44px;
    width: 47px;
    background: url("../img/btns/send_btn.png");
    background-size:cover;
    color: transparent;
    border-style: none;
}
#message_btn:hover {
    background: url("../img/btns/send_btn_hover.png");
    cursor: pointer;
}


@media(max-width: 970px) {
    #message_input {
        width: 85%;
    }
}
@media(max-width: 800px) {
    #message_input {
        width: 78%;
    }
}
@media(max-width: 680px) {
    #message_input {
        width: 50%;
    }
}
/*-----------------------------------------------------------*/

/*-------------------- THIS IS FOR THE GAMES TAB  ------------*/
.game_container {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    width: 100%;
    height: 122pt;
    margin: 0 auto 30px; /*top, left&right, bottom*/
    overflow: hidden;
}
.game_container:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.game_imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------*/

/*-------------------- THIS IS FOR THE LOGIN TAB  ------------*/

.login_messageC {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.login_message_error {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: red;
}

#username_input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 400px;
    height: 30px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
}
#login_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: none;
    border-radius: 10px;
}
#login_btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
/*------------------------------------------------------------*/









































