body {
    background-image: url("../img/bg/dust_scratches.png");
}

#header_container {
    background: #6d6d6d;
    height: 100px;
}

#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#nav_bar {
    background-color: #6d6d6d;
    text-align: center;
}

.nav_btn_ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nav_btn_li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 19px;
}

.nav_btn_li:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#footer_container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: #6d6d6d;
    text-align: center;
}
#footer_container p {
    color: black;
}

#left_bar {
    position: absolute;
    left: 0;
    bottom: 55px;
    top: 200px;
    overflow-y: auto;
    border: 1px solid black;
    margin-left: 8px;
    margin-top: 5px;
    width: 205px;
    background-image: url("../img/bg/hip-square.png");
}

#userlist {
    list-style: none;
    margin: 0;
    padding: 7px 0 0 20px; /*top, right, bottom, left*/
}

#userlist b {
    font-size: 20px;
}

#userlist li {
    padding: 2px;
    font-size: 20px;
}

#userlist li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#left_bar_btn {
    background-image: url("../img/btns/close_left.png");
    width: 40px;
    height: 40px;
    position: absolute;
    right: 3px;
    top: 3px;
}
#left_bar_btn:hover {
    cursor: pointer;
}

#right_bar {
    position: absolute;
    right: 0;
    bottom: 55px;
    top: 200px;
    overflow-y: auto;
    border: 1px solid black;
    margin-right: 8px;
    margin-top: 5px;
    width: 205px;
    background-image: url("../img/bg/hip-square.png");
}

#playinglist {
    list-style: none;
    margin: 0;
    padding: 7px 0 0 20px; /*top, right, bottom, left*/
}
#playinglist b {
    font-size: 20px;
    margin-left: 26px;
}
#playinglist li {
    margin-top: 10px;
    padding: 2px;
    font-size: 20px;
 }

#right_bar_btn {
    background-image: url("../img/btns/close_left.png");
    transform:scaleX(-1);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 3px;
    top: 3px;
}
#right_bar_btn:hover {
    cursor: pointer;
}



